body {
  background-color: black;
  color: white;
  font-family: Verdana;
  font-size: 16px;
  text-align: center;
}

hint{
  background-color:#000000;
  color:#000000;
}

div {
  text-align: center;
}

a:link {
  color: white;
}

a:hover {
  color: white;
}

a:visited {
  color: #EFEFFF
}

a:active {
  color: #EEEEEE
}
